@model MFSL.ViewModels.NewMemberViewModel

<!DOCTYPE html>
<html>
<head>
</head>
    <body>
        <ol class="breadcrumb">
            <li class="active"><i class="glyphicon glyphicon-user"></i> Add Member</li>
        </ol>
        @using (Html.BeginForm("AddNewMember", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
                <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="glyphicon glyphicon-plus"></i><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> New Member</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Member_Fullname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Full Name." } })
                                        @Html.ValidationMessageFor(model => model.Member_Fullname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Loan_Number, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Loan No." } })
                                        @Html.ValidationMessageFor(model => model.Loan_Number, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.VNPF_Number, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter VNPF No." } })
                                        @Html.ValidationMessageFor(model => model.VNPF_Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                            <!-- Button trigger modal -->
                            <div class="modal fade" id="successAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div style="width:800px; margin:0 auto;" aria-hidden="true" class="alert alert-dismissable alert-success">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <h4><i class="glyphicon glyphicon-ok"></i> Member added!</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Button trigger modal -->
                            <div class="modal fade" id="failureAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div style="margin:0 auto;" aria-hidden="true" class="alert alert-dismissable alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <h4><i class="glyphicon glyphicon-remove"></i> Fail to add member!</h4> Please try again.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
            </section>

         }
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            var confirmationStatus = parseInt(@ViewBag.Confirmation);
            if (confirmationStatus == 0) {
                $('#failureAlertModal').modal('show');
            }
            else if (confirmationStatus == 1) {
                $('#successAlertModal').modal('show');
            }
        });
    </script>
    </body>
</html>
