@model MFSL.Models.RegisterBindingModel
<!DOCTYPE html>
<html>
<head>
</head>
    <body>
        <ol class="breadcrumb">
            @*<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">UI</a></li>*@
            <li class="active"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> | Create User</li>
        </ol>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
                <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i> Fill In Details</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        @Html.EditorFor(m => m.VnpfNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Member No." } })
                                        @Html.ValidationMessageFor(m => m.VnpfNo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(m => m.LoanNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Loan No." } })
                                        @Html.ValidationMessageFor(m => m.LoanNo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(m => m.EmpFname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter First name" } })
                                        @Html.ValidationMessageFor(m => m.EmpFname, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(m => m.EmpMname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter middle name" } })
                                        @Html.ValidationMessageFor(m => m.EmpMname, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(m => m.EmpLname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter last name" } })
                                        @Html.ValidationMessageFor(m => m.EmpLname, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email" } })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter username" } })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter password" } })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.DropDownList("UserRoles", (SelectList)ViewBag.Roles, "Select Role", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <input type="submit" class="btn btn-primary" value="Register"/>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- right column -->
                </div>
                <!-- /.row -->
            </section>
    <!-- /.content -->
        }

    </body>
</html>

