@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        @* END Search *@
        @* BEGIN Menu *@
        @{ var UserRole = Convert.ToString(Html.Action("GetRoleForThisUser", "User"));}
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">M E N U</li>
            <li class="@Url.IsLinkActive("Dashboard", "MemberFiles")">
                <a href="@Url.Action("Dashboard", "MemberFiles")"><i class="fa fa-dashboard" aria-hidden="true"></i> <span>Dashboard</span></a>
            </li>
            @if (UserRole == "Admin" || UserRole == "Employee" || UserRole == "Manager")
            {
                <li class="@Url.IsLinkActive("Search", "MemberFiles")">
                    <a href="@Url.Action("Search", "MemberFiles")"><i class="glyphicon glyphicon-search"></i> <span>Search File</span></a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-file"></i><span>  New File</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Url.IsLinkActive("NewFileGov", "MemberFiles")">
                            <a href="@Url.Action("NewFileGov", "MemberFiles")"><i class="glyphicon glyphicon-plus"></i> <span>Gov</span></a>
                        </li>
                        <li class="@Url.IsLinkActive("NewFileNGO1", "MemberFiles")">
                            <a href="@Url.Action("NewFileNGO1", "MemberFiles")"><i class="glyphicon glyphicon-plus"></i> <span>NGO Type 1</span></a>
                        </li>
                        <li class="@Url.IsLinkActive("NewFileNGO2", "MemberFiles")">
                            <a href="@Url.Action("NewFileNGO2", "MemberFiles")"><i class="glyphicon glyphicon-plus"></i> <span>NGO Type 2</span></a>
                        </li>
                    </ul>
                </li>
                <li class="@Url.IsLinkActive("AddNewMember", "Account")">
                    <a href="@Url.Action("AddNewMember", "Account")"><i class="glyphicon glyphicon-user"></i> <span>Add Member</span></a>
                </li>
                <li class="@Url.IsLinkActive("Recent", "MemberFiles")">
                    <a href="@Url.Action("Recent", "MemberFiles")"><i class="glyphicon glyphicon-time"></i> <span>History</span></a>
                </li>
            }
            @*<li class="@Url.IsLinkActive("Create", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-search"></i> <span>Advanced Search</span></a>
            </li>*@
            @if (UserRole == "Admin")
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> <span>  Accounts</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Url.IsLinkActive("ActiveUsers", "Account")">
                            <a href="@Url.Action("ActiveUsers", "Account")"><i class="fa fa-user fa-lg" aria-hidden="true"></i> <span>Users</span></a>
                        </li>
                        <li class="@Url.IsLinkActive("Register", "Account")">
                            <a href="@Url.Action("Register", "Account")"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> <span>Create User</span></a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-lock"></i> <span> Password</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="@Url.IsLinkActive("ForgotPassword", "Account")">
                                    <a href="@Url.Action("ForgotPassword", "Account")"><i class="fa fa-question fa-lg" aria-hidden="true"></i><span>Forgot Password</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
            @*@if (UserRole == "Admin" || UserRole == "Manager")
            {
                <li class="@Url.IsLinkActive("ActiveUsers", "Account")">
                    <a href="@Url.Action("ActiveUsers", "Account")"><i class="fa fa-users fa-lg" aria-hidden="true"></i> <span>Users</span></a>
                </li>
            }*@
            <li class="@Url.IsLinkActive("SignOut", "Logout")">
                <a href="@Url.Action("SignOut", "Logout")"><i class="glyphicon glyphicon-off"></i> <span>Sign Out</span></a>
            </li>
            @*<li class="@Url.IsLinkActive("AnotherLink", "Home")">
                <a href="@Url.Action("AnotherLink", "Home")"><i class="fa fa-link"></i> <span>Another Link</span></a>
            </li>*@

        </ul>
        @* END Menu *@
    </section>
</aside>