<i class="fa fa-bank" aria-hidden="true"></i>
<br />
<b>Member Financial Services Ltd</b>
<br />
<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
<br />
@ViewBag.FirstName @ViewBag.LastName
@*<br />
Member No: @ViewBag.VNPFNo
<br />
Loan No: @ViewBag.LoanNo*@
<br />
(@ViewBag.Role)
@if(ViewBag.Branch != "Port Vila")
{
    <p>Branch - <b>@ViewBag.Branch</b></p>
}
else
{
    <p>Main Office - <b>@ViewBag.Branch</b></p>
}
