@model PagedList.IPagedList<MFSL.Models.FileReferences>
@using PagedList.Mvc;

<!DOCTYPE html>
<html>
<head>
</head>
    <body>
        <section class="content">
            <!-- Member info modal -->
            <div class="modal" id="memberDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> | Member Info</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ajax-dynamic-get-data-form" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- File modal -->
            <div class="modal" id="memberFilesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title"><i class="fa fa-files-o fa-lg" aria-hidden="true"></i> | Docs</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ajax-dynamic-get-data-form" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h4 class="box-title">Total: @ViewBag.TotalFiles <i class="fa fa-fw fa-folder"></i></h4>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr class="success">
                            <th class="alert-success">
                                Date Created
                            </th>
                            <th>
                                Officer
                            </th>
                            <th>
                                Branch
                            </th> 
                            <th class="alert-success">
                                Member No
                            </th>
                            <th class="alert-success">
                                File No
                            </th>
                            <th>
                                File Type
                            </th>

                            <th class="alert-success">
                                Status
                            </th>
                            <th class="alert-info">
                                Comment
                            </th>
                            <th>
                                Loan Approver
                            </th>
                            <th>
                                Payment Officer
                            </th>
                            <th>
                                Collateral Officer
                            </th>
                           
                            <th class="alert-danger">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="12">No results Found</td>
                            </tr>
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="danger">
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Officer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Branch)
                                </td>
                                <td class="warning">
                                    <a href="" class="MemberLink"
                                       data-id="@item.MemberNo"
                                       data-toggle="modal" title="Click for more">
                                        @Html.DisplayFor(modelItem => item.MemberNo)
                                    </a>
                                </td>
                                <td class="warning">
                                    <b>@Html.DisplayFor(modelItem => item.FileNo)</b>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployerType)
                                </td>
                                <td class="alert-warning">
                                   <b>@Html.DisplayFor(modelItem => item.FileStatus)</b> 
                                </td>
                                <td class="danger">
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td>
                                    @if(item.LoanApprover == null)
                                    {
                                        <p>N/A</p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.LoanApprover)
                                    }
                                </td>
                                <td>
                                    @if (item.PaymentOfficer == null)
                                    {
                                        <p>N/A</p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.PaymentOfficer)
                                    }
                                </td>
                                <td>
                                    @if (item.CollateralOfficer == null)
                                    {
                                        <p>N/A</p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CollateralOfficer)
                                    }
                                </td>
                                <td class="active">
                                    <a href="" class="FileLink"
                                       data-id="@item.FileNo"
                                       data-toggle="modal" title="Click to view">
                                        Show
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div id='Paging' style="text-align: center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("SearchFiles",
                    new { memberNo = ViewBag.MemberNo, page }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "filepartialview" }))
                </div>
            </div>
     </section>

    <script type="text/javascript">
        $('.MemberLink').on('click', function (e) {
            var MemberNum = $(this).attr("data-id");
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetMemberInfoByNum"))",
                data: { "MemberNum": MemberNum },
                success: function (data) {
                    $('#memberDetailsModal').modal();
                    $('#memberDetailsModal').find('.ajax-dynamic-get-data-form').html(data);
                    $('#memberDetailsModal').modal('show');
                },
                error: function () {
                    alert('Error. Please try again.');
                }
            });//EndOf Ajax
        });
        $('.FileLink').on('click', function (e) {
            var FileNo = $(this).attr("data-id");
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetFileRefsByFileNo"))",
                data: { "FileNo": FileNo },
                        success: function (data) {
                            $('#memberFilesModal').modal();
                            $('#memberFilesModal').find('.ajax-dynamic-get-data-form').html(data);
                            $('#memberFilesModal').modal('show');
                        },
                        error: function () {
                            alert('Error. Please try again.');
                        }
                });//EndOf Ajax
        })
    </script>
</body>
</html>

