@model IEnumerable<MFSL.Models.FileReferences>

<table class="table table-striped">
    <thead>
        <tr class="success">
            <th>
                File #: @ViewBag.FileNo
            </th>
            @*<td>
                <b>File #:</b> @ViewBag.FileNo
            </td>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="7">No results Found</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Loan Application", "FetchFile", new { id = item.FileNo, flag = 1 }, new { target = "_blank" })
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Loan Agreement", "FetchFile", new { id = item.FileNo, flag = 2 }, new { target = "_blank" })
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Guarantee Certificate", "FetchFile", new { id = item.FileNo, flag = 3 }, new { target = "_blank" })
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Amortisation", "FetchFile", new { id = item.FileNo, flag = 4 }, new { target = "_blank" })
                </td>
            </tr>
            if (ViewBag.FileStatus == "Awaiting Input")
            {
                <tr>
                    <td>
                        <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Cheque Copy", "FetchFile", new { id = item.FileNo, flag = 5 }, new { target = "_blank" })
                    </td>
                </tr>
            }

            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Eligibility", "FetchFile", new { id = item.FileNo, flag = 6 }, new { target = "_blank" })
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Request Letter", "FetchFile", new { id = item.FileNo, flag = 7 }, new { target = "_blank" })
                </td>
            </tr>

            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Quote", "FetchFile", new { id = item.FileNo, flag = 9 }, new { target = "_blank" })
                </td>
            </tr>
            if (ViewBag.EmployerType == "GOVT" || ViewBag.EmployerType == "NGO1")
            {
                <tr>
                    <td>
                        <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Pay Slip", "FetchFile", new { id = item.FileNo, flag = 10 }, new { target = "_blank" })
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Bank Account Statement", "FetchFile", new { id = item.FileNo, flag = 11 }, new { target = "_blank" })
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Loan Statement", "FetchFile", new { id = item.FileNo, flag = 12 }, new { target = "_blank" })
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("VNPF Statement", "FetchFile", new { id = item.FileNo, flag = 13 }, new { target = "_blank" })
                </td>
            </tr>
            if (ViewBag.EmployerType == "NGO1")
            {
                <tr>
                    <td>
                        <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Standing Order", "FetchFile", new { id = item.FileNo, flag = 14 }, new { target = "_blank" })
                    </td>
                </tr>
            }
            if (ViewBag.EmployerType == "NGO2")
            {
                <tr>
                    <td>
                        <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Employee Letter", "FetchFile", new { id = item.FileNo, flag = 8 }, new { target = "_blank" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Offset Letter", "FetchFile", new { id = item.FileNo, flag = 15 }, new { target = "_blank" })
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> @Html.ActionLink("Customer ID", "FetchFile", new { id = item.FileNo, flag = 16 }, new { target = "_blank" })
                </td>
            </tr>
        }
    </tbody>
</table>
