@model PagedList.IPagedList<MFSL.Models.MemberFile>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Recently Added";
    ViewBag.Description = "";
}
<!-- Main content -->
@using (Html.BeginForm("RecentlyAdded", "MemberFiles", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <table class="table">
        <thead>
            <tr>
                <td align="right">
                    <input type="number" min="1" id="txtbox" class="form-control" placeholder="Enter Member #" />
                </td>
                <td align="left">
                    <button id="search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>
                </td>
            </tr>
        </thead>
    </table>
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="success">
                                <th>
                                    Member No
                                </th>
                                <th>
                                    Date Created
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7">No results Found</td>
                                </tr>
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MemberNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Loan App", "DownloadFile", new { id = item.FileNo, flag = 1 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Offer Letter", "DownloadFile", new { id = item.FileNo, flag = 2 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Loan Agreement", "DownloadFile", new { id = item.FileNo, flag = 3 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Acceptance Offer", "DownloadFile", new { id = item.FileNo, flag = 4 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Guarantee Certificate", "DownloadFile", new { id = item.FileNo, flag = 5 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Amortisation", "DownloadFile", new { id = item.FileNo, flag = 6 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Cheque Copy", "DownloadFile", new { id = item.FileNo, flag = 7 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Eligibility", "DownloadFile", new { id = item.FileNo, flag = 8 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Quote", "DownloadFile", new { id = item.FileNo, flag = 9 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Pay Slip", "DownloadFile", new { id = item.FileNo, flag = 10 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Loan Statement", "DownloadFile", new { id = item.FileNo, flag = 11 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("VNPF Statement", "DownloadFile", new { id = item.FileNo, flag = 12 }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Other", "DownloadFile", new { id = item.FileNo, flag = 13 }, new { target = "_blank" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <div id='Paging' style="text-align: center">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("SearchFiles",
                        new { memberNo = ViewBag.MemberNo, page }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "filepartialview" }))
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
